header {
    width: 100%;
    height: 100px;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

header nav p {
    color: transparent;
    background-color: var(--text-color-light);
    height: 1px;
    width: 40%;
    opacity: 0.5;
}

.header-user-img {
    width: 4%;
    opacity: 0.8;
}