.form {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0;
    transition: 1s;
    background-color: var(--second-color);
}

.form-register {
    transform: translateX(-100%);
    z-index: -1;
    opacity: 0;
}

.login-container.move .form-login{
    transform: translateX(100%);
    z-index: 1;
    opacity: 0;
}

.login-container.move .form-register{
    transform: translateX(0%);
    z-index: 2;
    opacity: 1;
}

@media (max-width: 768px) {
    .form {
        width: 100%;
        justify-content: space-evenly;
    }

    .form-register{
        position: absolute;
        background-color: var(--primary-color);
        color: var(--second-color);
        transform: translateX(100%);
    }

    .logging-container.move .form-register{
        transform: translateX(0%);
    }
}