<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://kit.fontawesome.com/8194adac84.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" type="..." href="../../public/imgs/index-page-imgs/logotopsite.png"> 
    <link
      rel="stylesheet"
      href="../../public/style/index-page-style/navbar/navbar-bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="../../public/style/index-page-style/reset.css"
    />
    <link
      rel="stylesheet"
      href="../../public/style/index-page-style/main/main.css"
    />
    <link
      rel="stylesheet"
      href="../../public/style/index-page-style/main/main-banner.css"
    />
    <link
      rel="stylesheet"
      href="../../public/style/index-page-style/main/main-shehulk.css"
    />
    <link rel="stylesheet" href="../../public/style/index-page-style/announcement/announcement.css">
    <link rel="stylesheet" href="../../public/style/index-page-style/main-ironman/main-ironman.css">
    <link rel="stylesheet" href="../../public/style/index-page-style/main-secret-wars/main-secret-wars.css">
    <link rel="stylesheet" href="../../public/style/index-page-style/news/news.css">
    <link rel="stylesheet" href="../../public/style/index-page-style/news/news-aside.css">
    <link rel="stylesheet" href="../../public/style/index-page-style/curiosity/curiosity.css">
    <title>Marvel</title>
  </head>
  <body>
    <header>
      <nav id="navbar-menu" class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="../../src/views/index.html"
            ><img
              class="logo-header"
              src="./../../public/imgs/index-page-imgs/logo-marvel.png"
              alt="Logo Marvel"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"
              ><i id="menu-navbar" class="fa-solid fa-bars"></i
            ></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  id="nav-link-home"
                  href="../login-html/login.html"
                  >Sing In | Join</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" id="nav-link-home" href="#curiosity">Curiosity</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="nav-link-home" href="#news">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="nav-link-home" href="#">Characters</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="nav-link-home" href="#">Comics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="nav-link-home" href="../movies/movies.html">Movies</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="nav-link-home"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Plus+
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://www.disneyplus.com/pt-br"
                      target="_blank"
                      >Disney Plus</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://en.wikipedia.org/wiki/Marvel_Studios"
                      target="_blank"
                      >Marvel Studios</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://www.starplus.com/pt-br/home"
                      target="_blank"
                      >Star Plus</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                <i id="search-navbar" class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <banner>
        <h3 class="main-banner-description">
          STREAM THOR: LOVE AND THUNDER EXCLUSIVELY ON
          <img
            id="logo-disney-branco"
            src="../../public/imgs/index-page-imgs/logo-disney-branco.png"
            alt="Logo Disney"
          />
        </h3>
      </banner>
      <div class="main-shehulk">
        <div class="main-shehulk-container">
          <div class="main-shehulk-content">
            <img
            class="main-shehulk-logo"
              src="../../public/imgs/index-page-imgs/logo-shehulk.png"
              alt="Logo SheHulk"
            />
            <h2 class="main-shehulk-content-title">NOW STREAMING</h2>
            <p class="main-shehulk-content-description">
              She-Hulk: Attorney at Law is a 2022 American superhero television
              series created by Jessica Gao for Disney+, based on the character She-Hulk from Marvel Comics.
            </p>
            <button class="main-shehulk-content-button">WATCH NOW</button>
          </div>
        </div>
      </div>
      <div class="announcement-main">
        <div class="announcement-container">
          <img class="announcement-container-img" src="../../public/imgs/index-page-imgs/anuncio-quad.jpg" alt="Anuncio">
        </div>
        <div class="announcement-container-adver">
          <h6>ADVERTISEMENT</h6>
        </div>
      </div>
      <div class="main-ironman">
        <div class="main-ironman-container">
          <div>
            <img class="ironman-logo" src="../../public/imgs/index-page-imgs/logo-ironman.webp" alt="IronMan Logo">
          </div>
          <div class="main-ironman-content-title">
            <h4>Will Iron Man Return to the MCU? Understand if and how it would be possible.</h4>
          </div>
          <div class="main-ironman-content-description">
            <p>There's no way around it: they missed you. Since Avengers: Endgame (2019), Marvel fans have been clamoring for two returns in the Marvel Cinematic Universe (MCU): Chris Evans' Captain America and Robert Downey Jr's Iron Man. Now, the hypothetical return of Downey Jr. in the role of Tony Stark has just gained an extra spice.
              First of all: it's possible that Robert Downey Jr's Iron Man. return to the MCU? Never doubt anything, especially when it comes to a universe like the comics, famous for grandiose sagas with the deaths of important characters to bring them back in the future. First, let's go to the most likely and safe: the actor may very well appear again in movies (or Marvel series on Disney+) through a flashback.
            </p>
          </div>
          <div>
            <a class="main-ironman-content-hashtag" href="https://www.adorocinema.com/noticias/filmes/noticia-158520/" target="_blank">#BringBackTonyStarktolife</a>
          </div>
        </div>
        <img class="main-ironman-img" src="../../public/imgs/index-page-imgs/ironman-fly.webp" alt="IronMan">
      </div>
      <div class="main-secret-wars">
        <div class="main-secret-wars-container">
          <h2>NEW MOVIE IS COMMING</h2>
          <p>Marvel Studios President Kevin Feige announced the upcoming Avengers movies at San Diego Comic-Con. Avengers: Kang Dynasty and Avengers: Secret Wars, both slated for 2025 (May 2 and November 7, respectively), are part of Phase 6 of the Universe.</p>
          <div class="secret-wars-container-link">
            <a class="secret-wars-link" href="https://www.amazon.com.br/Guerras-Secretas-Jim-Shooter/dp/8583682038" target="_blank">HQ's</a>
            <a class="secret-wars-link" href="https://www.omelete.com.br/marvel-cinema/vingadores-4-e-5-2025" target="_blank">KNOW MORE</a>
          </div>
        </div>
        <div class="main-secret-wars-img">
          <img src="../../public/imgs/index-page-imgs/secret-wars.jpg" alt="Guerras Secretas">
        </div>
      </div>
      <div id="news">
        <div class="news-container-main">
          <h3>MARVEL NEWS</h3>
          <div class="news-container">
            <img class="news-content-img" src="../../public/imgs/index-page-imgs/deadpool3.jpg" alt="Deadpool3">
            <div class="news-content">
              <h6>Movies</h6>
              <h5>Ryan Reynolds and Hugh Jackman Team Up For 'Deadpool 3'</h5>
              <p>4 HOURS AGO</p>
            </div>
          </div>
          <div class="news-container">
            <img class="news-content-img" src="../../public/imgs/index-page-imgs/Homem-Aranha-Sem-Volta-Para-Casa.jpg.opdownload" alt="Deadpool3">
            <div class="news-content">
              <h6>Culture</h6>
              <h5>Spider-Man Favorite Actor </h5>
              <p>2 DAYS AGO</p>
            </div>
          </div>
          <div class="news-container">
            <img class="news-content-img" src="../../public/imgs/index-page-imgs/thor-actionfigure.webp" alt="Deadpool3">
            <div class="news-content">
              <h6>Shopping</h6>
              <h5>New Thor action figure</h5>
              <p>7 HOURS AGO</p>
            </div>
          </div>
          <div id="news-container-exeption" class="news-container">
            <img class="news-content-img" src="../../public/imgs/index-page-imgs/echo.jpg" alt="Deadpool3">
            <div class="news-content">
              <h6>TV Shows</h6>
              <h5>New serie 2023: ECHO</h5>
              <p>1 WEEK AGO</p>
            </div>
          </div>
        </div>
        <div class="news-container-aside">
          <h4>GAMES WEEK</h4>
          <div class="news-container-aside-main">
            <div id="news-content-aside" class="news-content-aside">
              <img id="news-content-aside-img" class="news-content-aside-img" src="../../public/imgs/index-page-imgs/marvel-games.jpg" alt="Game Marvel">
              <div class="news-content-description">
                <h6>Games</h6>
                <h5>Marvel Avengers Xbox</h5>
              </div>
            </div>
          </div>
          <div class="news-container-aside-main">
            <div id="news-content-aside" class="news-content-aside">
              <img id="news-content-aside-img" class="news-content-aside-img" src="../../public/imgs/index-page-imgs/wolwerine-game.jpg" alt="Game Marvel">
              <div class="news-content-description">
                <h6>Games</h6>
                <h5>Wolverine PS5</h5>
              </div>
            </div>
          </div>
          <div class="news-container-aside-main">
            <div id="news-content-aside" class="news-content-aside">
              <img id="news-content-aside-img" class="news-content-aside-img" src="../../public/imgs/index-page-imgs/marvel-fortnite.jpg" alt="Game Marvel">
              <div class="news-content-description">
                <h6>Games</h6>
                <h5>Marvel on Fortnite</h5>
              </div>
            </div>
          </div>
          <div class="news-container-aside-main">
            <div id="news-content-aside" class="news-content-aside">
              <img id="news-content-aside-img" class="news-content-aside-img" src="../../public/imgs/index-page-imgs/Marvels-Midnight-Suns.png" alt="Game Marvel">
              <div >
                <h6>Games</h6>
                <h5>Marvel's Midnight Suns</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="curiosity">
        <div class="curiosity-title">
          <h2>WHO'S THE STRONGEST AVENGER?</h2>
        </div>
        <div class="curiosity-imgs">
          <img class="curiosity-imgs-content" src="../../public/imgs/index-page-imgs/hulk-vingadoresStronger.webp" alt="Hulk">
          <img class="curiosity-imgs-content" src="../../public/imgs/index-page-imgs/thor-stronger.webp" alt="Thor">
          <img class="curiosity-imgs-content" src="../../public/imgs/index-page-imgs/capita-marvel-stronger.webp" alt="Capitã Marvel">
        </div>
        <div class="curiosity-text">
          <h4>Doctor Strange Wins</h4>
          <p>Although Doctor Strange fails to defeat the Scarlet Witch, he proves that his power and skill in magic are just two assets that make him the strongest Avenger. He defends himself against Wanda in her catastrophic attack on Kamar-Taj, overwhelming her at one point with fierce Eldritch magic in the form of snakes.
          
          Doctor Strange more than proved his strength when he fought Thanos on Titan. Though Thanos possessed several Infinity Stones, Strange held back the Mad Titan. The two face off after the Avengers and Guardians of the Galaxy fail to take the Infinity Gauntlet from Thanos, and Strange nearly wins the day.
          Thanos created a singularity with the Space Stone, threatening to suck everything into it, including Strange. Strange dispersed the singularity into butterflies with a wave of his hand.
          </p>
        </div>
        <div class="curiosity-doctor">
          <img id="curiosity-doctor-img" src="../../public/imgs/index-page-imgs/doctorstrangeStronger.webp" alt="Doctor Strange">
        </div>
      </div>
      <div class="announcement-main">
        <div class="announcement-container">
          <img class="announcement-container-img" src="../../public/imgs/index-page-imgs/anuncio2.webp" alt="Anuncio">
        </div>
        <div class="announcement-container-adver">
          <h6>ADVERTISEMENT</h6>
        </div>
      </div>
    </main>
  </body>
</html>
