:root{
    --primary-color: #b90e0e;
    --second-color: #5c5c5c;
    --text-color-dark: #000;
    --text-color-light: #fff;
    --icon-color: #F3F3F3;
    --background-color: #475764d5;
    --suport-color: #C9DFF2;
}