.news-container-aside{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 20px;
}

.news-content-aside{
    display: flex;
    gap: 24px;
    width: 400px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(43, 43, 43);
}

.news-content-aside-img{
    width: 200px;
}